* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  font-style: normal;
  word-break: keep-all;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

address,
em {
  font-style: normal;
}

strong,
b {
  font-weight: normal;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  opacity: 0;
  position: absolute;
  right: 0;
}

button {
  border: none;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 140px;
  z-index: 999;
}
.header .header_t {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fafafa;
  padding: 27px 0 17px 0;
  background: #fff;
}
.header h1 {
  width: 150px;
  z-index: 1000;
}
.header .header_b {
  background: #fff;
  border-bottom: 1px solid #eee;
  color: #555;
  transition: 0.3s;
}
.header .header_b .inner {
  display: flex;
  justify-content: space-between;
}
.header .header_b .gnb > ul {
  display: flex;
  gap: 70px;
}
.header .header_b .gnb > ul > li {
  position: relative;
}
.header .header_b .gnb > ul > li > a {
  display: block;
  font-weight: 500;
  line-height: 56px;
  color: #555;
}
.header .header_b .gnb > ul > li .sub {
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
.header .header_b .gnb > ul > li .sub > li {
  border: 1px solid #eee;
  background: #fff;
  visibility: hidden;
  height: 0;
}
.header .header_b .gnb > ul > li .sub > li > a {
  display: block;
  line-height: 40px;
  font-size: 14px;
  width: 170px;
}
.header .header_b .gnb > ul > li .sub > li:hover {
  background: #eee;
}
.header .header_b .gnb > ulli:hover::before {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #132e26;
}
.header .header_b .gnb > ul > li:hover .sub > li {
  visibility: visible;
  height: 100%;
}
.header .header_b .login {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #555;
}
.header .header_b .login > li {
  position: relative;
}
.header .header_b .login > li > a {
  font-size: 14px;
}
.header .header_b .login > li ~ li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translate(0, -50%);
  width: 1px;
  height: 14px;
  background: #eee;
}
.header .header_b .login.language {
  cursor: pointer;
}
.header .header_b .login.language > i {
  font-size: 14px;
  padding: 0 0 0 2px;
}
.header.on .gnb > ul > li > a {
  display: block;
  font-weight: 500;
  line-height: 56px;
  color: #555;
}

@media (max-width: 768px) {
  .header {
    height: 100px;
  }
  .header .header_t {
    border-bottom: none;
  }
  .header .gnb {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    background: #f9f9f9;
    height: 100vh;
    width: 100vw;
    padding: 100px 24px;
    transition: 0.5s;
  }
  .header .gnb.on {
    left: 0;
  }
  .header .gnb > ul {
    flex-direction: column;
    gap: 0;
    padding: 20px 0 0 0;
  }
  .header .gnb.on > ul {
    content: "";
    border-top: 1px solid #ddd;
  }
  .header .gnb > ul > li:hover::before {
    opacity: 0;
    visibility: hidden;
  }
  .header .gnb > ul > li > a {
    line-height: 40px;
  }
  .header .gnb li .sub {
    position: static;
    text-align: left;
    width: auto;
    transform: translate(0, 0);
  }
  .header .gnb > li:hover .sub {
    display: none;
  }
  .header .gnb .sub a {
    display: block;
    line-height: 40px;
    padding: 0 24px;
  }
  .header .login {
    display: none;
  }
}
.main_vi {
  position: relative;
  margin: -56px 0 0 0;
}
.main_vi .main_slide .itm {
  position: relative;
  height: 700px;
}
.main_vi .main_slide .itm .slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  margin: 0 0 0 -585px;
  color: #fff;
}
.main_vi .main_slide .itm .slogan strong {
  display: block;
  margin: 0 0 12px 0;
  font-weight: 500;
  color: #ddd;
}
.main_vi .main_slide .itm .slogan h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 16px 0;
}
.main_vi .main_slide .itm .slogan p {
  color: #ddd;
  width: 370px;
  margin: 0 0 40px 0;
}
.main_vi .main_slide .itm .slogan a {
  display: block;
  width: 170px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #fff;
  border-radius: 8px;
}
.main_vi .main_slide .itm01 {
  background: url(../images/main_vi01.jpg) no-repeat center center/cover;
}
.main_vi .main_slide .itm02 {
  background: url(../images/main_vi02.jpg) no-repeat center center/cover;
}
.main_vi .main_slide .itm03 {
  background: url(../images/main_vi03.jpg) no-repeat center center/cover;
}
.main_vi .main_slide .itm04 {
  background: url(../images/main_vi04.jpg) no-repeat center center/cover;
}
.main_vi .arrows {
  position: absolute;
  bottom: 100px;
  left: 50%;
  color: #fff;
  margin: 0 0 0 -585px;
  max-width: 120px;
  width: 100%;
}
.main_vi .arrows > * {
  position: absolute;
}
.main_vi .arrows i {
  border: 1px solid #eee;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
}
.main_vi .arrows .left {
  left: 0;
}
.main_vi .arrows .right {
  right: 0;
}

@media (max-width: 768px) {
  .main_vi .main_slide .itm {
    position: relative;
    height: calc(100vh - 100px);
  }
  .main_vi .main_slide .itm01 {
    background: url(../images/main_vi01.jpg) no-repeat right center/cover;
  }
  .main_vi .main_slide .itm04 {
    background: url(../images/main_vi04.jpg) no-repeat 55% center/cover;
  }
  .main_vi .slogan {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    margin: 0 0 0 0;
    padding: 0 56px;
    width: 100%;
    color: #fff;
  }
  .main_vi .slogan p {
    width: auto;
  }
  .main_vi a {
    display: block;
    width: 170px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 8px;
  }
  .main_vi .arrows {
    position: absolute;
    bottom: 50%;
    left: 0;
    margin: 0 0 0 0;
    max-width: 100%;
    width: 100%;
  }
  .main_vi .arrows i {
    padding: 8px;
    margin: 0 8px;
    border: 1px solid rgba(255, 255, 255, 0);
  }
  .main_vi .arrows .left {
    position: absolute;
    left: 0;
  }
  .main_vi .arrows .right {
    position: absolute;
    right: 0;
  }
}
.main_hosp .inner .tit .logo {
  margin: 0 0 12px 0;
}
.main_hosp .inner .tit .logo img {
  width: 160px;
}
.main_hosp .inner .hosp_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
}
.main_hosp .inner .hosp_wrap > li {
  transform: translate(0, 60px);
}
.main_hosp .inner .hosp_wrap > li .img_box {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 0 32px 0;
}
.main_hosp .inner .hosp_wrap > li .img_box img {
  transform: scale(1.2);
  transition: 0.8s;
}
.main_hosp .inner .hosp_wrap > li .img_box i {
  position: absolute;
  top: 14px;
  right: 14px;
  color: #fff;
  border-radius: 0 0 0 8px;
}
.main_hosp .inner .hosp_wrap > li strong {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 16px 0;
  padding: 0 0 0 16px;
}
.main_hosp .inner .hosp_wrap > li strong::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 18px;
  background: #ddd;
}
.main_hosp .inner .hosp_wrap > li p {
  font-size: 14px;
  padding: 0 0 0 16px;
}
.main_hosp .inner .hosp_wrap > li:hover .img_box img {
  transform: scale(1);
}
.main_hosp.on .hosp_wrap > li:nth-child(1) {
  transform: translate(0, 0);
  transition: 0.5s;
}
.main_hosp.on .hosp_wrap > li:nth-child(2) {
  transform: translate(0, 0);
  transition: 0.5s 0.3s;
}
.main_hosp.on .hosp_wrap > li:nth-child(3) {
  transform: translate(0, 0);
  transition: 0.5s 0.6s;
}
.main_hosp.on .hosp_wrap > li:nth-child(4) {
  transform: translate(0, 0);
  transition: 0.5s 0.9s;
}

@media (max-width: 768px) {
  .main_hosp .hosp_wrap > li {
    transform: translate(-80px, 0);
    opacity: 0;
  }
  .main_hosp.on .hosp_wrap > li:nth-child(1) {
    transform: translate(0, 0);
    transition: 0.5s;
    opacity: 1;
  }
  .main_hosp.on .hosp_wrap > li:nth-child(2) {
    transform: translate(0, 0);
    transition: 0.5s 0.5s;
    opacity: 1;
  }
  .main_hosp.on .hosp_wrap > li:nth-child(3) {
    transform: translate(0, 0);
    transition: 0.5s 1s;
    opacity: 1;
  }
  .main_hosp.on .hosp_wrap > li:nth-child(4) {
    transform: translate(0, 0);
    transition: 0.5s 1.5s;
    opacity: 1;
  }
  .main_hosp .hosp_wrap > li .img_box img {
    transform: scale(1);
  }
  .main_hosp .hosp_wrap > li:hover .img_box img {
    transform: scale(1);
  }
}
.main_bann .banner_slide figure {
  position: relative;
  height: 480px;
}
.main_bann .banner_slide figure .slogan {
  padding: 150px 0 0 15px;
}
.main_bann .banner_slide figure .slogan h3 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 12px 0;
}
.main_bann .banner_slide figure .slogan p {
  margin: 0 0 32px 0;
}
.main_bann .banner_slide figure .slogan a {
  display: block;
  line-height: 40px;
  width: 170px;
  text-align: center;
  color: #666;
  border-radius: 8px;
  border: 1px solid #888;
}
.main_bann .banner_slide .itm01 {
  background: url(../images/banner01.jpg) no-repeat center center/cover;
}
.main_bann .banner_slide .itm02 {
  background: url(../images/banner02.jpg) no-repeat center center/cover;
}
.main_bann .banner_slide .itm03 {
  background: url(../images/banner03.jpg) no-repeat center center/cover;
}
.main_bann .slick-dots {
  position: absolute;
  bottom: 24px;
  left: calc((100% - 1170px) / 2);
}
.main_bann .slick-dots > li {
  display: inline-block;
}
.main_bann .slick-dots > li button {
  font-size: 0;
  width: 56px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
}
.main_bann .slick-dots > li ~ li button {
  margin: 0 0 0 8px;
}
.main_bann .slick-dots > li.slick-active button {
  border: 1px solid #132e26;
  background: #132e26;
}

@media (max-width: 768px) {
  .main_bann .banner_slide figure {
    height: calc(100vh - 100px);
  }
  .main_bann .banner_slide .itm01 {
    background: url(../images/banner01.jpg) no-repeat 40% center/cover;
  }
  .main_bann .banner_slide .itm02 {
    background: url(../images/banner02.jpg) no-repeat 70% center/cover;
  }
  .main_bann .banner_slide .itm03 {
    background: url(../images/banner03.jpg) no-repeat right center/cover;
  }
  .main_bann .banner_slide p {
    font-size: 14px;
    margin: 0 0 40px 0;
  }
  .main_bann .banner_slide .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 0 0;
    text-align: center;
  }
  .main_bann .banner_slide .slogan a {
    width: auto;
  }
  .main_bann .banner_slide a {
    color: #eee;
    border: 1px solid #444;
    background: #444;
  }
  .main_bann .slick-dots {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.main_noti .noti_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.main_noti .noti_wrap > * {
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
}
.main_noti .noti_wrap h3 {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 48px 0;
}
.main_noti .noti_wrap h3::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 73px;
  height: 2px;
  background: #ddd;
}
.main_noti .noti_wrap .notice {
  padding: 48px 35px 40px 35px;
  transform: translate(0, 60px);
}
.main_noti .noti_wrap .notice .notice_box {
  position: relative;
  padding: 22px 16px;
  margin: 0 0 8px 0;
  border-radius: 5px;
  background: #f9f9f9;
}
.main_noti .noti_wrap .notice .notice_box strong {
  display: block;
  color: #555;
  font-weight: 700;
  margin: 0 0 8px 0;
}
.main_noti .noti_wrap .notice .notice_box p {
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main_noti .noti_wrap .notice .notice_box i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
}
.main_noti .noti_wrap .service {
  padding: 48px 35px;
  transform: translate(0, 60px);
}
.main_noti .noti_wrap .service .service_box {
  text-align: center;
}
.main_noti .noti_wrap .service .service_box span {
  display: block;
  font-weight: 500;
  color: #888;
  margin: 0 0 8px 0;
}
.main_noti .noti_wrap .service .service_box strong {
  display: block;
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 18px 0;
}
.main_noti .noti_wrap .service .service_box .time {
  margin: 0 0 34px 0;
}
.main_noti .noti_wrap .service .service_box .time > li {
  line-height: 24px;
  color: #888;
}
.main_noti .noti_wrap .service .service_box .btn_box {
  justify-content: center;
  display: flex;
  gap: 16px;
}
.main_noti .noti_wrap .service .service_box .btn_box > li {
  border: 1px solid #ddd;
  width: 140px;
  border-radius: 5px;
}
.main_noti .noti_wrap .service .service_box .btn_box > li > a {
  display: block;
  width: 100%;
  color: #666;
  line-height: 56px;
}
.main_noti .noti_wrap .quick {
  padding: 48px 35px;
  transform: translate(0, 60px);
}
.main_noti .noti_wrap .quick ul {
  margin: 0 0 31px 0;
}
.main_noti .noti_wrap .quick ul li {
  margin: 0 0 8px 0;
}
.main_noti .noti_wrap .quick ul li input::-moz-placeholder {
  color: #aaa;
}
.main_noti .noti_wrap .quick ul li input::placeholder {
  color: #aaa;
}
.main_noti .noti_wrap .quick ul li input:focus {
  outline: none;
}
.main_noti .noti_wrap .quick ul li .quick_input {
  line-height: 56px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 0 0 0 16px;
  border-radius: 5px;
}
.main_noti .noti_wrap .quick a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-radius: 5px;
  background: #444;
  text-align: center;
  color: #fff;
}
.main_noti.on .noti_wrap .notice {
  transform: translate(0, 0);
  transition: 0.5s;
}
.main_noti.on .noti_wrap .service {
  transform: translate(0, 0);
  transition: 0.5s 0.3s;
}
.main_noti.on .noti_wrap .quick {
  transform: translate(0, 0);
  transition: 0.5s 0.6s;
}

@media (max-width: 768px) {
  .main_noti .noti_wrap .notice {
    transform: translate(-80px, 0);
    opacity: 0;
  }
  .main_noti.on .noti_wrap .notice {
    opacity: 1;
  }
  .main_noti .noti_wrap .service {
    transform: translate(-80px, 0);
    opacity: 0;
  }
  .main_noti.on .noti_wrap .service {
    opacity: 1;
    transition: 0.5s 0.5s;
  }
  .main_noti .noti_wrap .quick {
    transform: translate(-80px, 0);
    opacity: 0;
  }
  .main_noti.on .noti_wrap .quick {
    opacity: 1;
    transition: 0.5s 1s;
  }
}
.footer {
  padding: 50px 0;
  background: #132e26;
}
.footer address .inner .footer_t {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid rgba(48, 94, 80, 0.3);
}
.footer address .inner .footer_t .logo a img {
  width: 150px;
  filter: invert(100%);
}
.footer address .inner .footer_t .info_nav {
  display: flex;
  gap: 40px;
}
.footer address .inner .footer_t .info_nav li {
  position: relative;
}
.footer address .inner .footer_t .info_nav li ~ li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translate(0, -50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(48, 94, 80, 0.3);
}
.footer address .inner .footer_t .sns {
  display: flex;
  gap: 16px;
  padding: 0 0 0 60px;
  width: 150px;
}
.footer address .inner .footer_t .sns i {
  font-size: 20px;
  transition: 0.5s;
}
.footer address .inner .footer_t .sns i:hover {
  color: #fff;
}
.footer address .inner .footer_b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 16px;
}
.footer address .inner .footer_b .time {
  width: 230px;
}
.footer address .inner .footer_b .add {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
.footer address .inner .footer_b .add .co {
  padding: 23px 0 0 0;
}
.footer address .inner .footer_b .tel {
  width: 230px;
  text-align: right;
}
.footer address .inner .footer_b .tel span {
  display: block;
  font-size: 14px;
  margin: 0 0 20px 0;
}
.footer address .inner .footer_b .tel strong {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 20px 0;
}
.footer address .inner .footer_b .tel p {
  font-size: 14px;
  font-weight: 300;
}
.footer address .inner .footer_b .st {
  font-size: 20px;
  margin: 0 0 20px 0;
}
.footer .st {
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 0 0 0;
  }
  .footer .footer_t {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 0 0 20px 0;
    margin: 0 0 0 0;
    border-bottom: 1px solid rgba(48, 94, 80, 0);
  }
  .footer .footer_t .logo {
    display: none;
  }
  .footer .footer_t .info_nav .st {
    font-size: 14px;
  }
  .footer address .inner .footer_t .sns {
    display: flex;
    gap: 24px;
    padding: 0 0 0 0;
    width: auto;
  }
  .footer .footer_t .sns i {
    font-size: 18px;
  }
  .footer .footer_t .sns i:hover {
    color: inherit;
  }
  .footer .footer_b {
    flex-direction: column;
    justify-content: center;
  }
  .footer .footer_b > * {
    padding: 16px 0;
    border-top: 1px solid rgba(48, 94, 80, 0.3);
  }
  .footer .footer_b .time {
    text-align: center;
    width: auto;
  }
  .footer .footer_b .time .st {
    font-size: 18px;
  }
  .footer .footer_b .add {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    order: 2;
  }
  .footer .footer_b .add .co {
    font-size: 12px;
    padding: 16px 0 0 0;
  }
  .footer address .inner .footer_b .tel {
    width: auto;
    text-align: center;
  }
  .footer .footer_b .tel span {
    font-size: 12px;
    margin: 0 0 16px 0;
  }
  .footer .footer_b .tel strong {
    font-size: 24px;
    margin: 0 0 16px 0;
  }
}
.btn_ham {
  position: absolute;
  top: 30px;
  right: 15px;
  z-index: 1000;
  display: none;
  cursor: pointer;
}
.btn_ham i {
  font-size: 24px;
}

.btn_side {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.btn_side .chat_bot {
  width: 60px;
  height: 60px;
  text-align: center;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-top: 12px;
  cursor: pointer;
}
.btn_side .chat_bot .img_box {
  line-height: 55px;
}
.btn_side .to_top {
  width: 60px;
  height: 60px;
  text-align: center;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-top: 12px;
  cursor: pointer;
}
.btn_side .to_top i {
  display: block;
  margin: 0 0 3px 0;
  padding: 10px 0 0 0;
}
.btn_side .to_top span {
  font-weight: 500;
}
.btn_side .chat_bot_con {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 140px;
  right: -100%;
  transition: 0.5s;
}
.btn_side .chat_bot_con .chat_wrap {
  width: 300px;
  height: 530px;
  background: #f9f9f9;
  border-radius: 32px;
  padding: 24px 15px 15px;
  border: 3px solid #f5f5f5;
}
.btn_side .chat_bot_con .chat_wrap .chat_name {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 0 24px 9px;
}
.btn_side .chat_bot_con .chat_wrap .chat_name .img_box {
  width: 56px;
  height: 56px;
  border-radius: 15px;
  overflow: hidden;
}
.btn_side .chat_bot_con .chat_wrap .chat_name .img_box img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(150%);
}
.btn_side .chat_bot_con .chat_wrap .chat_name .txt_box strong {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 8px 0;
}
.btn_side .chat_bot_con .chat_wrap .chat_name .txt_box span {
  font-size: 14px;
  color: #888;
}
.btn_side .chat_bot_con .chat_wrap .chating {
  display: flex;
  gap: 15px;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
}
.btn_side .chat_bot_con .chat_wrap .chating .img_box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.btn_side .chat_bot_con .chat_wrap .chating .img_box img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.btn_side .chat_bot_con .chat_wrap .chating .txt_box strong {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 8px 0;
}
.btn_side .chat_bot_con .chat_wrap .chating .txt_box p {
  font-size: 14px;
  line-height: 20px;
  width: 177px;
}
.btn_side .chat_bot_con .chat_wrap .chating .txt_box p span {
  font-weight: 500;
}
.btn_side .chat_bot_con .chat_wrap .btn01 {
  text-align: center;
  margin: 0 0 15px 0;
}
.btn_side .chat_bot_con .chat_wrap .btn01 strong {
  display: block;
  font-size: 14px;
  color: #888;
  margin: 0 0 8px 0;
}
.btn_side .chat_bot_con .chat_wrap .btn01 .btn_box a {
  display: block;
  padding: 10px 0;
  background: #132e26;
  border-radius: 10px;
}
.btn_side .chat_bot_con .chat_wrap .btn01 .btn_box a span {
  font-weight: 500;
  color: #fff;
}
.btn_side .chat_bot_con .chat_wrap .btn02 {
  text-align: center;
}
.btn_side .chat_bot_con .chat_wrap .btn02 strong {
  display: block;
  font-size: 14px;
  color: #888;
  margin: 0 0 8px 0;
}
.btn_side .chat_bot_con .chat_wrap .btn02 .btn_box a {
  display: inline-block;
  padding: 10px 24px;
  background: #132e26;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
}
.btn_side .chat_bot_con .chat_wrap > span {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
  border: 1px solid #eee;
  padding: 2px;
  border-radius: 5px;
  color: #132e26;
  cursor: pointer;
}
.btn_side.on .chat_bot_con {
  visibility: visible;
  opacity: 1;
  right: 0;
}

@media (max-width: 768px) {
  .btn_ham {
    position: fixed;
    display: block;
  }
  .btn_side {
    position: fixed;
    bottom: 70px;
    right: 8px;
  }
  .btn_side .to_top {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-top: 10px;
  }
  .btn_side .to_top i {
    display: block;
    font-size: 12px;
    margin: 0 0 0 0;
    padding: 4px 0 0 0;
  }
  .btn_side .to_top span {
    font-size: 12px;
  }
  .btn_side .chat_bot {
    width: 40px;
    height: 40px;
  }
  .btn_side .chat_bot .img_box {
    line-height: 35px;
  }
  .btn_side .chat_bot .img_box img {
    width: 30px;
  }
  .btn_side .chat_bot_con {
    bottom: -60px;
  }
  .btn_side.on .chat_bot_con {
    right: 50px;
  }
}
.sub_box {
  padding: 40px 0 0 0;
}
.sub_box .sub_vi {
  position: relative;
  height: 400px;
  background: url(../../images/sub01_bg01.jpg) no-repeat center center/cover;
}
.sub_box .sub_vi .tit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.sub_box .sub_vi .tit h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 8px 0;
}
.sub_box .company .company_wrap {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.sub_box .company .company_wrap .left {
  flex: 2;
}
.sub_box .company .company_wrap .left h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 24px 0;
}
.sub_box .company .company_wrap .left p {
  font-size: 18px;
  line-height: 30px;
}
.sub_box .company .company_wrap .left p span {
  position: relative;
}
.sub_box .company .company_wrap .left p span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 24px;
  background: #dde6d7;
  z-index: -1;
}
.sub_box .company .company_wrap .right {
  flex: 1;
  text-align: center;
}
.sub_box .company .company_wrap .right li {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 500;
  background: #dde6d7;
}
.sub_box .company .company_wrap .right li ~ li {
  margin-top: 10px;
}
.sub_box .special ul li {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.sub_box .special ul li > * {
  flex: 1;
}
.sub_box .special ul li .img_box {
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
}
.sub_box .special ul li .txt_box {
  padding: 24px 0 0 0;
}
.sub_box .special ul li .txt_box strong {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 44px 0;
}
.sub_box .special ul li .txt_box strong::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #eee;
}
.sub_box .special ul li .txt_box strong span {
  display: inline-block;
  position: relative;
  font-size: 20px;
  margin: 0 20px 0 0;
  color: #fff;
}
.sub_box .special ul li .txt_box strong span::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -9px;
  width: 30px;
  height: 30px;
  background: #444;
  border-radius: 50%;
  z-index: -1;
}
.sub_box .special ul li .txt_box p {
  font-size: 18px;
  color: #666;
}
.sub_box .special ul li .txt_box p span {
  display: block;
  margin: 0 0 15px 0;
}
.sub_box .special ul li ~ li {
  margin: 30px 0 0 0;
}
.sub_box .banner {
  position: relative;
  height: 480px;
  background: url(../../images/sub01_bg02.jpg) no-repeat center center/cover;
}
.sub_box .banner .txt_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.sub_box .banner .txt_box strong {
  display: block;
  font-size: 18px;
  margin: 0 0 12px 0;
}
.sub_box .banner .txt_box h3 {
  font-size: 40px;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */